<?xml version="1.0" encoding="utf-8" ?>
<launch>
    <arg name="stdout" default="screen" />
    <node pkg="tf" type="static_transform_publisher" name="sensor2_rot_tf" args="0 0 0 -1.57079632679 0 -1.57079632679 rotated_stereo_left stereo_left 10" />
    <node pkg="tf" type="static_transform_publisher" name="velo2cam_tf" args="-1.19469 -0.0244269 0.782878 -0.0157496 -0.00848753 -0.0476556 rotated_stereo_left lidar_top/os_sensor 100" />
</launch>
